* {
    margin: 0;
    font-family: 'Tangerine', cursive;
}
body {
    margin: 10px 20px;
    background-image: url(https://wallpapercave.com/wp/EmjZgbk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
h1 {
    margin: 10px 0;
    display: block;
    font-size: 4rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1.8rem;
}
.question-ctr {
    width: 50%;
    /* background-color: #f1f1f185; */
    border-radius: 10px;
    margin: 20px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question {
    display: none;
}
.end-page {
    display: none;
}
.active {
    display: block;
}
.active > .question-number {
    text-align: center;
}
form {
    margin: 20px;
}
.answers {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.answer {
    background-color: rgba(211, 211, 211, 0.527);
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 50%;
    font-size: 2rem;
}
.answer > label {
    margin: 10px
}
.answer > input {
    display: none;
    background-color: lightslategray;
}
.answer > input:checked {
    display:inline-block;
    background-color: lightslategray;
}
.answer:hover {
    background-color: rgba(145, 138, 138, 0.678);
    cursor: pointer;
}
button {
    background-color:rgba(211, 211, 211, 0.664); 
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  font-size: 2rem;
}
button:hover {
    background-color: rgba(145, 138, 138, 0.678);
    cursor: pointer;
}
.buttons-ctr {
    display: flex;
}

.rings img {
    width: 5%;
    animation: ring 7s linear infinite;
    z-index: -1;
}
.rings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes ring{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.rings img:nth-child(1) {
    animation-delay: 2s;
    width: 35px;
}
.rings img:nth-child(2) {
    animation-delay: 1s;
}
.rings img:nth-child(3) {
    animation-delay: 3s;
    width: 45px;
}
.rings img:nth-child(4) {
    animation-delay: 4.5s;
}
.rings img:nth-child(5) {
    animation-delay: 3s;
    width: 30px;
}
.rings img:nth-child(6) {
    animation-delay: 6s;
    width: 50px;
}
